/* raleway-100 - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 100;
    src: url('fonts/raleway-v18-latin-100.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/raleway-v18-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/raleway-v18-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/raleway-v18-latin-100.woff') format('woff'), /* Modern Browsers */
         url('fonts/raleway-v18-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/raleway-v18-latin-100.svg#Raleway') format('svg'); /* Legacy iOS */
  }
  /* raleway-200 - latin */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 200;
    src: url('fonts/raleway-v18-latin-200.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/raleway-v18-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/raleway-v18-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/raleway-v18-latin-200.woff') format('woff'), /* Modern Browsers */
         url('fonts/raleway-v18-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/raleway-v18-latin-200.svg#Raleway') format('svg'); /* Legacy iOS */
  }
  /* raleway-300 - latin */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    src: url('fonts/raleway-v18-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/raleway-v18-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/raleway-v18-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/raleway-v18-latin-300.woff') format('woff'), /* Modern Browsers */
         url('fonts/raleway-v18-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/raleway-v18-latin-300.svg#Raleway') format('svg'); /* Legacy iOS */
  }
  /* raleway-regular - latin */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/raleway-v18-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/raleway-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/raleway-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/raleway-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/raleway-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/raleway-v18-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
  }
  /* raleway-600 - latin */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    src: url('fonts/raleway-v18-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/raleway-v18-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/raleway-v18-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/raleway-v18-latin-600.woff') format('woff'), /* Modern Browsers */
         url('fonts/raleway-v18-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/raleway-v18-latin-600.svg#Raleway') format('svg'); /* Legacy iOS */
  }
  /* raleway-500 - latin */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    src: url('fonts/raleway-v18-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/raleway-v18-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/raleway-v18-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/raleway-v18-latin-500.woff') format('woff'), /* Modern Browsers */
         url('fonts/raleway-v18-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/raleway-v18-latin-500.svg#Raleway') format('svg'); /* Legacy iOS */
  }
  /* raleway-700 - latin */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/raleway-v18-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/raleway-v18-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/raleway-v18-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/raleway-v18-latin-700.woff') format('woff'), /* Modern Browsers */
         url('fonts/raleway-v18-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/raleway-v18-latin-700.svg#Raleway') format('svg'); /* Legacy iOS */
  }
  /* raleway-800 - latin */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    src: url('fonts/raleway-v18-latin-800.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/raleway-v18-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/raleway-v18-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/raleway-v18-latin-800.woff') format('woff'), /* Modern Browsers */
         url('fonts/raleway-v18-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/raleway-v18-latin-800.svg#Raleway') format('svg'); /* Legacy iOS */
  }
  /* raleway-900 - latin */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    src: url('fonts/raleway-v18-latin-900.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/raleway-v18-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/raleway-v18-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/raleway-v18-latin-900.woff') format('woff'), /* Modern Browsers */
         url('fonts/raleway-v18-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/raleway-v18-latin-900.svg#Raleway') format('svg'); /* Legacy iOS */
  }


.icon_star_blue{
    color: #0065FC;
}

.icon_star_white{
    color: #F2F2F2;
}


    /* body */ 
    body{
        font-family: 'Raleway';
        text-decoration: none;
    }
    
    /* header (logo+navigation+hosting+activities+subscribe) */
    .mainheader{
        padding-top: 20px;
        padding-left: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
    }

    /* logo */ 
    .logo{
        margin-top: 10px;
    }

    /* navigation */
    .navigation{
        padding-left: 800px;
        padding-top: 10px;
        color: black;
        text-decoration: none;
    }
    
    /*hosting*/
    .hosting{
        color: black;
        text-decoration: none;
        padding-right: 25px;
        padding-left: 25px;
    }

    .hosting:hover{
        color: #0065FC;
        border-top: 3px solid ;
        border-color: #0065FC;
        padding-top: 40px;
    }

    /*activities*/
    .activities{
        color: black;
        text-decoration: none;
        padding-left: 25px;
        padding-right: 25px;
    }
    .activities:hover{
        color: #0065FC;
        border-top: 3px solid ;
        border-color: #0065FC;
        padding-top: 40px;
    }

    /* subscribe */
    .subscribe{
        color :#0065FC;
        font-family: 'Raleway';
        font-weight: 600;
        text-decoration: none;
        text-align: right;
        padding-right: 75px;
        padding-top: 10px;
    }
    
    /* introduction (h1+h2) */
    .intro_1{
        font-family: 'Raleway';
        font-weight: 400;
        font-weight: 700;
        font-size: 20px;
        margin-left: 50px;
        margin-bottom: 10px;
    }

    .intro_2{
        font-family: 'Raleway';
        font-size: 15px;
        margin-left: 50px;
        margin-bottom: 20px;
    }
    
    /* searchbar (localisation+position+marseille+search) */
    .localisation{
        display: flex;
        justify-content: space-around;
        border-color: #F2F2F2;
        border-radius: 15px;
        width: 350px;
        font-family: 'Raleway';
        font-weight: 600;
        margin-left: 50px;
        margin-bottom: 30px;
    }
    
    .position{
        border-radius: 15px 0px 0px 15px;
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 13px;
        padding-right: 20px;
        background: #F2F2F2
    }

    #marseille{
        font-family: 'Raleway';
        font-size: medium;
        font-weight: 700;
        border: none;
        padding-top: 15px;
        padding-bottom: 13px;
        padding-right: 13px;
        padding-left: 13px;
        width: 200px;
    }
    input::placeholder{
        color: black;
    }
    
    #search{
        font-family: 'Raleway';
        font-size: medium;
        font-weight: 700;
        border: none  ;
        border-style: solid;
        border-radius: 0px 15px 15px 0px;
        padding-top: 16px;
        padding-left: 15px;
        padding-bottom: 16px;
        padding-right: 15px;
        background: #0065FC;
        color: white;
    }

    .icon_search{
        font-family: 'Raleway';
        font-size: medium;
        font-weight: 700;
        border-radius: 0px 15px 15px 0px;
        padding-top: 15px;
        padding-left: 13px;
        padding-bottom: 13px;
        padding-right: 13px;
        background: #0065FC;
        color: white;
    }

    
    
    /* filters (filters+filter+eco+fam+romantique+pet) + style icon integrÃ© au html */
    .filters{
        font-family: 'Raleway';
        font-weight: 600;
        display: flex;

    }

    .box_filters{
        display: flex;
        justify-content: space-between;
        width: 700px;
        margin-left: 50px;
        margin-bottom: 30px;
    }
    .filter{
        border: 1px none rgb(175, 175, 175);
        width: 10px;
        border-radius: 90px;
        margin-left: 50px;
        padding: 13px;
    }
    .eco{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 150px;
        border: 1px solid rgb(175, 175, 175);
        border-radius: 90px;
        padding-right: 10px;
    }
    .icon_money{
        color: #0065FC;
        background-color: #DEEBFF;
        border-radius: 100%;
        padding: 10px;
    }

    .eco:hover{
        border: 3px solid #0065FC;
    }
    .eco:hover .icon_money{
        background-color: #0065FC;
        color: #DEEBFF;
    }
    
    .fam{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 110px;
        border: 1px solid rgb(175, 175, 175);
        border-radius: 90px;
        padding-right: 10px;
    }

    .icon_fam{
        color: #0065FC;
        background-color: #DEEBFF;
        border-radius: 100%;
        padding: 10px 12px 10px 12px;
    }

    .fam:hover{
        border: 3px solid #0065FC;
    }
    .fam:hover .icon_fam{
        background-color: #0065FC;
        color: #DEEBFF;
    }

    .romantique{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 140px;
        border: 1px solid rgb(175, 175, 175);
        border-radius: 90px;
        padding-right: 10px;
    }

    .icon_romantique{
        color: #0065FC;
        background-color: #DEEBFF;
        border-radius: 100%;
        padding: 10px;
    }

    .romantique:hover{
        border: 3px solid #0065FC;
    }
    .romantique:hover .icon_romantique{
        background-color: #0065FC;
        color: #DEEBFF;
    }

    .pet{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 190px;
        border: 1px solid rgb(175, 175, 175);
        border-radius: 90px;
        padding-right: 10px;
    }
    .icon_pet{
        color: #0065FC;
        background-color: #DEEBFF;
        border-radius: 100%;
        padding: 10px;
    }

    .pet:hover{
        border: 3px solid #0065FC;
    }
    .pet:hover .icon_pet{
        background-color: #0065FC;
        color: #DEEBFF;
    }
    
    /* info */
    .maininfo{
        margin-left: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 360px;
        margin-bottom: 30px;
    }

    .info{
        font-family: 'Raleway';
        font-weight: 300;
        font-size: small;
    }

    .icon_info{
        font-size: 8px ;color:#0065FC;
        border: 0.5px solid #F2F2F2;
        padding: 3px 6px;
        border-radius: 100%
    }


    /* mainbox_hosting_populaire */
    .mainbox_hosting_populaire{
        display: flex;
    }


    /* hébergements */
    
    .container_hosting{
        margin-left: 50px;
        margin-right: 50px;
        border-radius: 10px;
        width: 800px;
        padding-top: 50px;
        padding-bottom: 40px;
        background-color: #F2F2F2;
    }

    .title_container{
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 20px;
        padding-bottom: 30px;
        padding-left: 30px;
    }

    .display_hosting{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .display_hosting > a {
        text-decoration: none;
        color: black;
    }

  

    .display_box{
        border-radius: 10px 10px 10px 10px;
        padding: 4px;
        margin-bottom: 25px;
        background-color: white;
        box-shadow: 5px 5px 5px #c9c9c9;
    }

    .display_box:hover{
        box-shadow: 5px 5px 5px #8b8b8b;
    }

    /* IMG HERBERGEMENTS */
    .box_1{
        width: 210px;
        height: 100px;
        border-radius: 10px 10px 0px 0px;
        background-image: url(img/hebergements/3_medium/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 7px;
    }

    .box_2{
        width: 210px;
        height: 100px;
        border-radius: 10px 10px 0px 0px;
        background-image: url(img/hebergements/3_medium/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 7px;
    }

    .box_3{
        width: 210px;
        height: 100px;
        border-radius: 10px 10px 0px 0px;
        background-image: url(img/hebergements/3_medium/reisetopia-B8WIgxA_PFU-unsplash.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 7px;
    }

    .box_4{
        width: 210px;
        height: 100px;
        border-radius: 10px 10px 0px 0px;
        background-image: url(img/hebergements/3_medium/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 7px;
    }

    .box_5{
        width: 210px;
        height: 100px;
        border-radius: 10px 10px 0px 0px;
        background-image: url(img/hebergements/3_medium/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 7px;
    }

    .box_6{
        width: 210px;
        height: 100px;
        border-radius: 10px 10px 0px 0px;
        background-image: url(img/hebergements/3_medium/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 7px;
    }

    .title_hosting{
        font-family: 'Raleway';
        font-weight: 600;
        font-size: 15px;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 10px;
        text-decoration: none;
        color: black;
    }

    .title_hosting:hover{
        color: #0065FC;
    }

    .price_hosting{
        font-size: 13px;
        margin-top: 7px;
        padding-bottom: 7px;
        padding-left: 10px;
    }

    .star_hosting{
        margin-left: 10px;
        margin-bottom: 5px;
    }

    .title_plus{
        font-family: 'Raleway';
        font-weight: 600;
        font-size: 14px;
        padding-top: 15px;
        padding-left: 30px;
    }


    /* populaires */
    .container_populaire{

        margin-left: 40px;
        margin-right: 50px;
        border-radius: 10px;
        width: 400px;
        padding-top: 50px;
        padding-bottom: 40px;
        background-color: #F2F2F2;
    }

    .title_populaire_box{
        display: flex;
        width: 400px;
        justify-content: space-around;

    }

    .title_populaire{
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 20px;
        padding-bottom: 30px;

        padding-right: 30px;
        display: flex;
        justify-content: space-between;
    }

    .display_pop{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .display_pop > a {
        text-decoration: none;
        color: black;
    }
    
    .display_box_pop{
        display: flex;
        flex-wrap: wrap;
        border-radius: 10px 10px 10px 10px;
        width: 340px;
        margin-bottom: 20px;
        padding: 4px;
        background-color: white;
        box-shadow: 5px 5px 5px #c9c9c9;
    }

    .display_box_pop:hover{
        box-shadow: 5px 5px 5px #8b8b8b;
    }

    /* IMG POPULAIRES*/
    .box_pop_1{
        width: 120px;
        height: 120px;
        border-radius: 10px 0px 0px 10px;
        background-image: url(img/hebergements/3_medium/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .box_pop_2{
        width: 120px;
        height: 120px;
        border-radius: 10px 0px 0px 10px;
        background-image: url(img/hebergements/3_medium/aw-creative-VGs8z60yT2c-unsplash.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .box_pop_3{
        width: 120px;
        height: 120px;
        border-radius: 10px 0px 0px 10px;
        background-image: url(img/hebergements/3_medium/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .box_pop_title{
        width: 150px;
        margin-left: 10px;
        display: flex;
        flex-wrap: wrap;
    }


    .title_pop{
        font-family: 'Raleway';
        font-weight: 600;
        font-size: 15px;
        width: 150px;
        text-align: left;
        padding-top: 10px;
        text-decoration: none;
        color: black;
    }

    .title_pop:hover{
        color: #0065FC;
    }

    .price_pop{
        font-family: 'Raleway';
        font-weight: 400;
        width: 125px;
        font-size: 13px;
        width: 230px;
    }


    /* Activités */

    .title_activities{
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 20px;
        margin-left: 50px;
        padding-top: 50px;
        padding-bottom: 20px;
    }

    .display_activities{
        margin-left: 50px;
        width: 1290px;
        height: 450px;
        margin-bottom: 50px;

        display: flex;
        justify-content: space-between;
    }

    .display_activities > a {
        text-decoration: none;
        color: black;
    }

    .display_small_1 > a {
        text-decoration: none;
        color: black;
    }

    .display_small_4 > a {
        text-decoration: none;
        color: black;
    }

    /* BOX 1 (img 1) */
    .box_activities_1{
        width: 275px;
        border-radius: 10px;
        padding-bottom: 15px;
        box-shadow: 5px 5px 5px #c9c9c9;
    }

    .box_activities_img_1{
        width: 275px;
        height: 400px;
        border-radius: 10px 10px 0px 0px;
        background-image: url(img/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 10px;
    }

    .title_activities_1{
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 15px;
        padding-top: 15px;
        padding-left: 15px;
        text-decoration: none;
        color: black;
    }
.title_activities_1:hover{
    color: #0065FC;
}

    /* BOX 2 (img 2 et 3) */

    .display_small_1{
        display: flex;
        flex-wrap: wrap;
        width: 275px;
    }

    .box_activities_2{
        width: 275px;
        height: 220px;
        border-radius: 10px;
        padding-bottom: 15px;
        box-shadow: 5px 5px 5px #c9c9c9;
        margin-bottom: 88px;
    }

    .box_activities_img_2{
        width: 275px;
        height: 190px;
        border-radius: 10px 10px 0px 0px;
        background-image: url(img/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 10px;
    }

    .box_activities_3{
        width: 275px;
        height: 110px;
        border-radius: 10px;
        padding-bottom: 15px;
        box-shadow: 5px 5px 5px #c9c9c9;
    }

    .box_activities_img_3{
        width: 275px;
        height: 80px;
        border-radius: 10px 10px 0px 0px;
        background-image: url(img/activites/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 10px;
    }

    .title_activities_2{
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 15px;
        padding-top: 15px;
        padding-left: 15px;
        text-decoration: none;
        color: black;
    }

    .title_activities_2:hover{
        color: #0065FC;
    }

    /* BOX 3 (img 4) */
    .box_activities_4{
        width: 275px;
        border-radius: 10px;
        padding-bottom: 15px;
        box-shadow: 5px 5px 5px #c9c9c9;
    }

    .box_activities_img_4{
        width: 275px;
        height: 400px;
        border-radius: 10px 10px 0px 0px;
        background-image: url(img/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 10px;
    }

    .title_activities_4{
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 15px;
        padding-top: 15px;
        padding-left: 15px;
        text-decoration: none;
        color: black;
    }

    .title_activities_3:hover{
        color: #0065FC;
    }
    /* BOX 4 (img 5 et 6) */

    .display_small_4{
        display: flex;
        flex-wrap: wrap;
        width: 275px;
    }

    .box_activities_5{
        width: 275px;
        height: 160px;
        border-radius: 10px;
        padding-bottom: 15px;
        box-shadow: 5px 5px 5px #c9c9c9;
        margin-bottom: 92px;
    }

    .box_activities_img_5{
        width: 275px;
        height: 125px;
        border-radius: 10px 10px 0px 0px;
        background-image: url(img/activites/3_medium/florian-wehde-xW9e8gdotxI-unsplash.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 10px;
    }

    .box_activities_6{
        width: 275px;
        height: 160px;
        border-radius: 10px;
        padding-bottom: 15px;
        box-shadow: 5px 5px 5px #c9c9c9;
    }

    .box_activities_img_6{
        width: 275px;
        height: 125px;
        border-radius: 10px 10px 0px 0px;
        background-image: url(img/activites/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 10px;
    }

    .title_activities_4{
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 15px;
        padding-top: 15px;
        padding-left: 15px;
        text-decoration: none;
        color: black;
    }

    .title_activities_4:hover{
        color: #0065FC;
    }



    /* footer */

    footer{
        background-color: #F2F2F2 ;
    }

    .title_footer{
        font-family: 'Raleway';
        font-weight: 600;
        font-size: medium;
        padding-bottom: 20px;
    }
    
    footer{
        display: flex;
        background-color: #F2F2F2;
        justify-content: space-around;
        padding-top: 25px;
        padding-bottom: 35px;
    }

    .footer{
        font-family: 'Raleway';
        font-weight: 300;
        font-size: small;
    }


    /* RESPONSIVE */

    


    @media screen and (max-width: 1024px)
    {
        body{
            max-width: 1024px;
        }
        .navigation{
            padding-left: 400px;
        }

        .mainbox_hosting_populaire {
            flex-direction: column-reverse;
            align-items: center;
        }

        .container_hosting{
            margin-right: 25px;
        }

        .container_populaire{
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 20px;
        }

        .display_activities{
            max-width: 700px;
            flex-wrap: wrap;
            margin-left: 180px;
        }

        .box_activities_1{
            margin-bottom: 25px;
        }

        .display_small_1{
            margin-bottom: 25px;
        }

        footer{
            display: flex;
            margin-top: 600px;
            bottom: 0;
            width: 1024px;
        }
        .footer_1{
            margin-bottom: 50px;
            margin-left: 25px;
        }
        .footer_2{
            margin-bottom: 50px;
            margin-left: 25px;
        }
        .footer_3{
            margin-bottom: 50px;
            margin-left: 25px;
        }

    }

    @media (max-width: 768px){
        body{
            width: 768px;
        }
        .navigation{
            padding-left: 180px;
        }

        .filters{
            flex-wrap: wrap;
        }

        .container_hosting{
            width: 746px;
            margin-right: 0px;
            margin-left: 0px;
        }

        .display_activities{
            margin-left: 25px;
        }
    
        .footer{
            max-width: 768px;
        }
    }

    @media (min-width: 411px) {
        span.icon_search {display:none}
        span.text_search {display:inline-block}
    }
    
    @media (max-width: 410px) {
        span.icon_search {display:inline-block}
        span.text_search {display:none}
    }


    @media screen and (max-width: 375px)
    {

        body{
            width: 375px;
        }
        .mainheader{
            flex-wrap: wrap;
            width: 375px;
            overflow: hidden;
            padding-left: 0px;
        }
        
        .logo{
            order: 1;
            padding-left: 25px;
        }

        .navigation{
            order: 3;
            display: flex;
            padding-left: 0px;
            margin-left: 0;
            width: 375px;
            justify-content: space-around;
        }

        .hosting{
            padding-left: 46.875px;
            padding-right: 46.875px;
        }

        .hosting:hover{
            color: #0065FC;
            border-top: 3px solid ;
            border-color: #0065FC;
            padding-top: 10px;
        }

        .activities{
            padding-left: 46.875px;
            padding-right: 46.875px;
        }

        .activities:hover{
            color: #0065FC;
            border-top: 3px solid ;
            border-color: #0065FC;
            padding-top: 10px;
        }
        .subscribe{
            padding-right: 25px;
            order: 2;
        }


        .intro_1{
            margin-left: 25px;
            width: 300px;
        }

        .intro_2{
            margin-left: 25px;
        }

        .localisation{
            margin-left: 25px;
            width: 329px;
        }

        #marseille{
            width: 236px;
        }

        .icon_search{
            padding-bottom: 15px;
        }
        .filters{
            margin-left: 25px;
            display: flex;
            flex-wrap: wrap;
        }

        .filter{
            margin-left: 0;
        }

        .box_filters{
            display: flex;
            justify-content: space-between;
            align-content: flex-start;
            flex-wrap: wrap;
            overflow: hidden;
            
            margin-left: 0px;
            width: 325px;

        }

        .eco{
            margin-bottom: 10px;
        }
        .fam{
            margin-bottom: 10px;
        }
        .romantique{
            margin-bottom: 10px;
        }
        .pet{
            margin-bottom: 10px;
        }

        .maininfo{
            margin-left: 25px;
            width: 345px;
            align-items: baseline;
        }
        
        .info{
            width: 320px;
        }


        .mainbox_hosting_populaire{
            display: flex;
            flex-direction: column;
        }

        .container_hosting {
            width: 375px;
            order: 2;
            margin-left: 0px;
            margin-right: 0px;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            background-color: white;
        }

        .display_box{
            box-shadow: 5px 5px 5px 5px #c9c9c9;
        }

        .title_container{
            padding-left: 0px;
            margin-left: 0px;
            
        }

        .display_hosting{
            display: flex;
            flex-wrap: wrap;
            width: 375px;
            margin-left: 0;

        }

        .box_1{
            width: 325px;
        }
        .box_2{
            width: 325px;
        }
        .box_3{
            width: 325px;
        }
        .box_4{
            width: 325px;
        }
        .box_5{
            width: 325px;
        }
        .box_6{
            width: 325px;
        }

        .title_plus{
            padding-left: 0px;
        }

        .title_populaire_box{
            width: 375px;
        }
        .title_populaire{
            padding-left: 0px;
        }

        .icon_pop{
            padding-right: 10px;
        }
        
        .container_populaire {
            order: 1;
            width: 375px;
            margin-left: 0px;
            margin-right: 0px;
            border-radius: 0px;
            padding-right: 0px;
            padding-left: 0px;
        }

        .display_box_pop{
            width: 325px;
        }

        .title_activities{
            margin-left: 25px;
        }
        

        .display_activities{
            width: 375px;
            max-width: 375px;
            margin-left: 25px;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
        }
        .box_activities_1{
            width: 325px;
            height: 230px;
            margin-bottom: 25px;
            padding-bottom: 0px;
        }
        .box_activities_img_1{
            width: 325px;
            height: 160px;
        }
        .title_activities_1{
            padding-top: 13px;
        }

        .box_activities_2{
            width: 325px;
            height: 190px;
            margin-bottom: 25px;
        }
        .box_activities_img_2{
            width: 325px;
            height: 160px;
        }
        .title_activities_2{
            padding-top: 13px;
        }
        .box_activities_3{
            width: 325px;
            height: 190px;
            margin-bottom: 25px;
        }
        .box_activities_img_3{
            width: 325px;
            height: 160px;
        }
        .title_activities_3{
            padding-top: 13px;
        }
        .box_activities_4{
            width: 325px;
            height: 230px;
            margin-bottom: 25px;
        }
        .box_activities_img_4{
            width: 325px;
            height: 160px;
        }
        .title_activities_4{
            padding-top: 13px;
        }
        .box_activities_5{
            width: 325px;
            height: 190px;
            margin-bottom: 25px;
        }
        .box_activities_img_5{
            width: 325px;
            height: 160px;
        }
        .title_activities_5{
            padding-top: 13px;
        }
        .box_activities_6{
            width: 325px;
            height: 190px;
            margin-bottom: 25px;
        }
        .box_activities_img_6{
            width: 325px;
            height: 160px;
        }
        .title_activities_6{
            padding-top: 13px;
        }

        footer{
            width: 375px;
            display: flex;
            flex-direction: column;
            margin-top: 1000px;
            bottom: 0;
        }

        .footer_1{
            margin-bottom: 50px;
            margin-left: 25px;
        }
        .footer_2{
            margin-bottom: 50px;
            margin-left: 25px;
        }
        .footer_3{
            margin-bottom: 50px;
            margin-left: 25px;
        }
    }
    
    