@font-face {
    font-family: 'Raleway Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway Regular'), url('Raleway-Regular.woff') format('woff');
    }
    
    
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway'), url('Raleway-Regular.woff') format('woff');
    }
    
    
@font-face {
    font-family: 'Raleway Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway Italic'), url('Raleway-Italic.woff') format('woff');
    }
    
    
@font-face {
    font-family: 'Raleway Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway Thin'), url('Raleway-Thin.woff') format('woff');
    }
    
    
@font-face {
    font-family: 'Raleway Thin Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway Thin Italic'), url('Raleway-ThinItalic.woff') format('woff');
    }
    
    
@font-face {
    font-family: 'Raleway ExtraLight';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway ExtraLight'), url('Raleway-ExtraLight.woff') format('woff');
    }
    
    
@font-face {
    font-family: 'Raleway ExtraLight Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway ExtraLight Italic'), url('Raleway-ExtraLightItalic.woff') format('woff');
    }
    
    
@font-face {
    font-family: 'Raleway Light';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway Light'), url('Raleway-Light.woff') format('woff');
    }
    
    
@font-face {
    font-family: 'Raleway Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway Light Italic'), url('Raleway-LightItalic.woff') format('woff');
    }
    
    
@font-face {
    font-family: 'Raleway Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway Medium'), url('Raleway-Medium.woff') format('woff');
    }
    
    
@font-face {
    font-family: 'Raleway Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway Medium Italic'), url('Raleway-MediumItalic.woff') format('woff');
    }
    
    
@font-face {
    font-family: 'Raleway SemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway SemiBold'), url('Raleway-SemiBold.woff') format('woff');
    }
    
    
@font-face {
    font-family: 'Raleway SemiBold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway SemiBold Italic'), url('Raleway-SemiBoldItalic.woff') format('woff');
    }
    
    
@font-face {
    font-family: 'Raleway Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway Bold'), url('Raleway-Bold.woff') format('woff');
    }
    
    
@font-face {
    font-family: 'Raleway Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway Bold Italic'), url('Raleway-BoldItalic.woff') format('woff');
    }
    
    
@font-face {
    font-family: 'Raleway ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway ExtraBold'), url('Raleway-ExtraBold.woff') format('woff');
    }
    
    
@font-face {
    font-family: 'Raleway ExtraBold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway ExtraBold Italic'), url('Raleway-ExtraBoldItalic.woff') format('woff');
    }
    
    
@font-face {
    font-family: 'Raleway Black';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway Black'), url('Raleway-Black.woff') format('woff');
    }
    
    
@font-face {
    font-family: 'Raleway Black Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway Black Italic'), url('Raleway-BlackItalic.woff') format('woff');
    }

    /* body */ 
    body{
        font-family: 'Raleway Regular';
        text-decoration: none;
    }
    
    /* header (logo+navigation+hosting+activities+subscribe) */
    .mainheader{
        padding-top: 20px;
        padding-left: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
    }

    /* logo */ 
    .logo{
        margin-top: 10px;
    }

    /* navigation */
    .navigation{
        padding-left: 800px;
        padding-top: 10px;
        color: black;
        text-decoration: none;
    }
    
    /*hosting*/
    .hosting{
        color: black;
        text-decoration: none;
        padding-right: 25px;
        padding-left: 25px;
    }

    .hosting:hover{
        color: #0065FC;
        border-top: 3px solid ;
        border-color: #0065FC;
        padding-top: 40px;
    }

    /*activities*/
    .activities{
        color: black;
        text-decoration: none;
        padding-left: 25px;
        padding-right: 25px;
    }
    .activities:hover{
        color: #0065FC;
        border-top: 3px solid ;
        border-color: #0065FC;
        padding-top: 40px;
    }

    /* subscribe */
    .subscribe{
        color :#0065FC;
        font-family: 'Raleway semibold';
        text-decoration: none;
        text-align: right;
        padding-right: 75px;
        padding-top: 10px;
    }
    
    /* introduction (h1+h2) */
    .intro_1{
        font-family: 'Raleway bold';
        font-size: 20px;
        margin-left: 50px;
        margin-bottom: 10px;
    }

    .intro_2{
        font-family: 'Raleway-Light';
        font-size: 15px;
        margin-left: 50px;
        margin-bottom: 20px;
    }
    
    /* searchbar (localisation+position+marseille+search) */
    .localisation{
        display: flex;
        justify-content: space-around;
        border-color: #F2F2F2;
        border-radius: 15px;
        width: 350px;
        font-family: 'Raleway semibold';
        margin-left: 50px;
        margin-bottom: 30px;
    }
    
    .position{
        border-radius: 15px 0px 0px 15px;
        padding-top: 13px;
        padding-left: 20px;
        padding-bottom: 13px;
        padding-right: 20px;
        background: #F2F2F2
    }
    
    .marseille{
        border: 0.2px;
        border-style: solid;
        border-color: #F2F2F2 #0065FC #F2F2F2 #F2F2F2;
        padding-top: 13px;
        padding-bottom: 13px;
        padding-right: 13px;
        padding-left: 13px;
        width: 200px;
    }

    .search{
        border: 0.2px  ;
        border-style: solid;
        border-color: #0065FC;
        border-radius: 0px 15px 15px 0px;
        padding-top: 13px;
        padding-left: 15px;
        padding-bottom: 13px;
        padding-right: 15px;
        background: #0065FC;
        color: white;
    }
    
    /* filters (filters+filter+eco+fam+romantique+pet) + style icon integrÃ© au html */
    .filters{
        font-family: 'Raleway semibold';
        display: flex;

    }

    .box_filters{
        display: flex;
        justify-content: space-between;
        width: 700px;
        margin-left: 50px;
        margin-bottom: 30px;
    }
    .filter{
        border: 1px none rgb(175, 175, 175);
        width: 10px;
        border-radius: 90px;
        margin-left: 50px;
        padding: 13px;
    }
    .eco{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 150px;
        border: 1px solid rgb(175, 175, 175);
        border-radius: 90px;
        padding-right: 10px;
    }
    
    .fam{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 110px;
        border: 1px solid rgb(175, 175, 175);
        border-radius: 90px;
        padding-right: 10px;
    }

    .romantique{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 140px;
        border: 1px solid rgb(175, 175, 175);
        border-radius: 90px;
        padding-right: 10px;
    }

    .pet{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 190px;
        border: 1px solid rgb(175, 175, 175);
        border-radius: 90px;
        padding-right: 10px;
    }
    
    /* info */
    .maininfo{
        margin-left: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 360px;
        margin-bottom: 30px;
    }

    .info{
        font-family: 'Raleway-Light';
        font-size: small;
    }



    /* mainbox_hosting_populaire */
    .mainbox_hosting_populaire{
        display: flex;
    }


    /* hébergements */
    
    .container_hosting{
        margin-left: 50px;
        margin-right: 50px;
        border-radius: 10px;
        width: 800px;
        padding-top: 50px;
        padding-bottom: 40px;
        background-color: #F2F2F2;
    }

    .title_container{
        font-family: 'Raleway bold';
        font-size: 20px;
        padding-bottom: 30px;
        padding-left: 30px;
    }

    .display_hosting{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .display_box{
        border: 1px solid white;
        border-radius: 10px 10px 10px 10px;
        padding: 4px;
        margin-bottom: 25px;
        background-color: white;
        box-shadow: 5px 5px 5px #c9c9c9;
    }

    /* IMG HERBERGEMENTS */
    .box_1{
        width: 210px;
        height: 100px;
        border-radius: 10px 10px 0px 0px;
        background-image: url(img/hebergements/3_medium/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .box_2{
        width: 210px;
        height: 100px;
        border-radius: 10px 10px 0px 0px;
        background-image: url(img/hebergements/3_medium/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .box_3{
        width: 210px;
        height: 100px;
        border-radius: 10px 10px 0px 0px;
        background-image: url(img/hebergements/3_medium/reisetopia-B8WIgxA_PFU-unsplash.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .box_4{
        width: 210px;
        height: 100px;
        border-radius: 10px 10px 0px 0px;
        background-image: url(img/hebergements/3_medium/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .box_5{
        width: 210px;
        height: 100px;
        border-radius: 10px 10px 0px 0px;
        background-image: url(img/hebergements/3_medium/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .box_6{
        width: 210px;
        height: 100px;
        border-radius: 10px 10px 0px 0px;
        background-image: url(img/hebergements/3_medium/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .title_hosting{
        font-family: 'Raleway-SemiBold';
        font-size: 15px;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 10px;
    }

    .price_hosting{
        font-size: 13px;
        padding-bottom: 7px;
        padding-left: 10px;
    }

    .title_plus{
        font-family: 'Raleway bold';
        font-size: 14px;
        padding-top: 15px;
        padding-left: 30px;
    }


    /* populaires */
    .container_populaire{

        margin-left: 40px;
        margin-right: 50px;
        border-radius: 10px;
        width: 400px;
        padding-top: 50px;
        padding-bottom: 40px;
        background-color: #F2F2F2;
    }

    .title_populaire{
        font-family: 'Raleway bold';
        font-size: 20px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
        display: flex;
        justify-content: space-between;
    }
    
    .display_pop{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    .display_box_pop{
        display: flex;
        flex-wrap: wrap;
        border: 1px solid white;
        border-radius: 10px 10px 10px 10px;
        width: 340px;
        margin-bottom: 20px;
        padding: 4px;
        background-color: white;
        box-shadow: 5px 5px 5px #c9c9c9;
    }

    /* IMG POPULAIRES*/
    .box_pop_1{
        width: 120px;
        height: 120px;
        border-radius: 10px 0px 0px 10px;
        background-image: url(img/hebergements/3_medium/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .box_pop_2{
        width: 120px;
        height: 120px;
        border-radius: 10px 0px 0px 10px;
        background-image: url(img/hebergements/3_medium/aw-creative-VGs8z60yT2c-unsplash.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .box_pop_3{
        width: 120px;
        height: 120px;
        border-radius: 10px 0px 0px 10px;
        background-image: url(img/hebergements/3_medium/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .title_pop{
        font-family: 'Raleway-SemiBold';
        font-size: 15px;
        width: 150px;
        text-align: left;
        padding-top: 10px;
        padding-left: 10px;
    }

    .price_pop{
        font-family: 'Raleway regular';
        text-align: right;
        width: 125px;
        padding-top: 10px;
        font-size: 13px;
        width: 230px;
    }


    /* Activités */

    .title_activities{
        font-family: 'Raleway-Bold';
        font-size: 20px;
        margin-left: 50px;
        padding-top: 50px;
        padding-bottom: 20px;
    }

    .display_activities{
        margin-left: 50px;
        width: 1290px;
        height: 450px;
        margin-bottom: 50px;

        display: flex;
        justify-content: space-between;
    }

    /* BOX 1 (img 1) */
    .box_activities_1{
        width: 275px;
        border-radius: 10px;
        padding-bottom: 15px;
        box-shadow: 5px 5px 5px #c9c9c9;
    }

    .box_activities_img_1{
        width: 275px;
        height: 400px;
        border-radius: 10px 10px 0px 0px;
        background-image: url(img/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .title_activities_1{
        font-family: 'Raleway-Bold';
        font-size: 15px;
        padding-top: 15px;
        padding-left: 15px;
    }

    /* BOX 2 (img 2 et 3) */

    .display_small_1{
        display: flex;
        flex-wrap: wrap;
        width: 275px;
    }

    .box_activities_2{
        width: 275px;
        height: 220px;
        border-radius: 10px;
        padding-bottom: 15px;
        box-shadow: 5px 5px 5px #c9c9c9;
        margin-bottom: 88px;
    }

    .box_activities_img_2{
        width: 275px;
        height: 190px;
        border-radius: 10px 10px 0px 0px;
        background-image: url(img/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .box_activities_3{
        width: 275px;
        height: 110px;
        border-radius: 10px;
        padding-bottom: 15px;
        box-shadow: 5px 5px 5px #c9c9c9;
    }

    .box_activities_img_3{
        width: 275px;
        height: 80px;
        border-radius: 10px 10px 0px 0px;
        background-image: url(img/activites/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .title_activities_2{
        font-family: 'Raleway-Bold';
        font-size: 15px;
        padding-top: 15px;
        padding-left: 15px;
    }

    /* BOX 3 (img 4) */
    .box_activities_4{
        width: 275px;
        border-radius: 10px;
        padding-bottom: 15px;
        box-shadow: 5px 5px 5px #c9c9c9;
    }

    .box_activities_img_4{
        width: 275px;
        height: 400px;
        border-radius: 10px 10px 0px 0px;
        background-image: url(img/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .title_activities_4{
        font-family: 'Raleway-Bold';
        font-size: 15px;
        padding-top: 15px;
        padding-left: 15px;
    }

    /* BOX 4 (img 5 et 6) */

    .display_small_4{
        display: flex;
        flex-wrap: wrap;
        width: 275px;
    }

    .box_activities_5{
        width: 275px;
        height: 160px;
        border-radius: 10px;
        padding-bottom: 15px;
        box-shadow: 5px 5px 5px #c9c9c9;
        margin-bottom: 92px;
    }

    .box_activities_img_5{
        width: 275px;
        height: 125px;
        border-radius: 10px 10px 0px 0px;
        background-image: url(img/activites/3_medium/florian-wehde-xW9e8gdotxI-unsplash.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .box_activities_6{
        width: 275px;
        height: 160px;
        border-radius: 10px;
        padding-bottom: 15px;
        box-shadow: 5px 5px 5px #c9c9c9;
    }

    .box_activities_img_6{
        width: 275px;
        height: 125px;
        border-radius: 10px 10px 0px 0px;
        background-image: url(img/activites/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .title_activities_4{
        font-family: 'Raleway-Bold';
        font-size: 15px;
        padding-top: 15px;
        padding-left: 15px;
    }




    /* footer */

    footer{
        background-color: #F2F2F2 ;
    }

    .title_footer{
        font-family: 'Raleway semibold';
        font-size: medium;
        padding-bottom: 20px;
    }
    
    footer{
        display: flex;
        background-color: #F2F2F2;
        justify-content: space-around;
        padding-top: 25px;
        padding-bottom: 35px;
    }

    .footer{
        font-family: 'raleway light';
        font-size: small;
    }


    /* RESPONSIVE */

    @media screen and (max-width: 410px)
    {

        body{
            max-width: 375px;
        }
        .mainheader{
            flex-wrap: wrap;
            width: 375px;
            overflow: hidden;
            padding-left: 0px;
        }
        
        .logo{
            order: 1;
            padding-left: 25px;
        }

        .navigation{
            order: 3;
            display: flex;
            padding-left: 0px;
            margin-left: 0;
            width: 375px;
            justify-content: space-around;
        }

        .hosting{
            padding-left: 46.875px;
            padding-right: 46.875px;
        }

        .hosting:hover{
            color: #0065FC;
            border-top: 3px solid ;
            border-color: #0065FC;
            padding-top: 10px;
        }

        .activities{
            padding-left: 46.875px;
            padding-right: 46.875px;

        }

        .activities:hover{
            color: #0065FC;
            border-top: 3px solid ;
            border-color: #0065FC;
            padding-top: 10px;
        }
        .subscribe{
            padding-right: 25px;
            order: 2;
        }


        .intro_1{
            margin-left: 25px;
            width: 300px;
        }

        .intro_2{
            margin-left: 25px;
        }

        .localisation{
            margin-left: 25px;
            width: 329px;
        }

        .filters{
            margin-left: 25px;
            display: flex;
            flex-wrap: wrap;
        }

        .filter{
            margin-left: 0;
        }

        .box_filters{
            display: flex;
            justify-content: space-between;
            align-content: flex-start;
            flex-wrap: wrap;
            overflow: hidden;
            
            margin-left: 0px;
            width: 325px;

        }

        .eco{
            margin-bottom: 10px;
        }
        .fam{
            margin-bottom: 10px;
        }
        .romantique{
            margin-bottom: 10px;
        }
        .pet{
            margin-bottom: 10px;
        }

        .maininfo{
            margin-left: 25px;
            width: 345px;
            align-items: baseline;
        }
        
        .info{
            width: 320px;
        }


        .mainbox_hosting_populaire{
            display: flex;
            flex-wrap: wrap;
        }

        .container_hosting {
            order: 2;
            margin-left: 0px;
            margin-right: 0px;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            background-color: white;
        }

        .display_box{
            box-shadow: 5px 5px 5px 5px #c9c9c9;
        }


        .title_container{
            padding-left: 0px;
            margin-left: 0px;
            
        }

        .display_hosting{
            display: flex;
            flex-wrap: wrap;
            width: 375px;
            margin-left: 0;

        }

        .box_1{
            width: 325px;
        }
        .box_2{
            width: 325px;
        }
        .box_3{
            width: 325px;
        }
        .box_4{
            width: 325px;
        }
        .box_5{
            width: 325px;
        }
        .box_6{
            width: 325px;
        }

        .title_plus{
            padding-left: 0px;
        }

        .title_populaire{
            padding-left: 25px;
        }
        .container_populaire {
            order: 1;
            width: 375px;
            margin-left: 0px;
            margin-right: 0px;
            border-radius: 0px
        }

        .display_pop{
            width: ;
        }

        .display_box_pop{
            width: 325px;
        }

        .title_activities{
            margin-left: 25px;
        }
        

        .display_activities{
            margin-left: 25px;
            display: flex;
            flex-direction: column;
        }
        .box_activities_1{
            width: 325px;
            height: 230px;
            margin-bottom: 25px;
        }
        .box_activities_img_1{
            width: 325px;
            height: 160px;
        }
        .title_activities_1{
            padding-top: 13px;
        }

        .display_small_1{

        }
        .box_activities_2{
            width: 325px;
            height: 190px;
            margin-bottom: 25px;
        }
        .box_activities_img_2{
            width: 325px;
            height: 160px;
        }
        .title_activities_2{
            padding-top: 13px;
        }
        .box_activities_3{
            width: 325px;
            height: 190px;
            margin-bottom: 25px;
        }
        .box_activities_img_3{
            width: 325px;
            height: 160px;
        }
        .title_activities_3{
            padding-top: 13px;
        }
        .box_activities_4{
            width: 325px;
            height: 230px;
            margin-bottom: 25px;
        }
        .box_activities_img_4{
            width: 325px;
            height: 160px;
        }
        .title_activities_4{
            padding-top: 13px;
        }
        .box_activities_5{
            width: 325px;
            height: 190px;
            margin-bottom: 25px;
        }
        .box_activities_img_5{
            width: 325px;
            height: 160px;
        }
        .title_activities_5{
            padding-top: 13px;
        }
        .box_activities_6{
            width: 325px;
            height: 190px;
            margin-bottom: 25px;
        }
        .box_activities_img_6{
            width: 325px;
            height: 160px;
        }
        .title_activities_6{
            padding-top: 13px;
        }

        footer{
            display: flex;
            flex-direction: column;
            margin-top: 1000px;
            bottom: 0;
            width: 375px;
        }
        .footer{

        }
        .footer_1{
            margin-bottom: 50px;
            margin-left: 25px;
        }
        .footer_2{
            margin-bottom: 50px;
            margin-left: 25px;
        }
        .footer_3{
            margin-bottom: 50px;
            margin-left: 25px;
        }
    }
    